.top-scroll {
    display: inline-grid;
    place-items: center;
    background-color: $base_color_1;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s,
    opacity .5s,
    visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 999;
    background: #0077ff;
    background: linear-gradient(to right, #0077ff 0%, #00e7ff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0077ff', endColorstr='#00e7ff', GradientType=1);
    @media #{$small_mobile}{
        display: none;
    }
    @media #{$x_small_mobile}{
        display: none;
    }
    i {
        font-size: 24px;
        color: $white;
    }
}

.top-scroll:hover {
    cursor: pointer;
    background: #00e7ff;
    background: linear-gradient(to right, #00e7ff 0%, #0077ff 99%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00e7ff', endColorstr='#0077ff', GradientType=1);

}

.top-scroll:active {
    background-color: #555;
}

.top-scroll.show {
    opacity: 1;
    visibility: visible;
}